/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
}
body {
    background-color: #f7f7f7;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 80vh;
    box-shadow: -7px 8px 23px -8px rgba(59,59,59,0.75);
    margin: 5em auto;
    background-color: #ffff;
}

.container .form {
    width: 50%;
    height: 100%;
    padding: 5em;
    margin: 2em auto;
}
.container .form .form-text {
    text-align: center;
    letter-spacing: 0.4px;
    line-height: 1.2;
    margin-bottom: 2em;
}
.container .form .form-text .title {
    font-size: 22px;
    margin-bottom: 0.6em;
    color: #7e7e7e;
   
}
.container .form .form-text .sub-title {
    font-size: 15px;
    font-weight: 400;
    color: #afafaf;
}
.container .form .line1 {
    border-top: 2px solid #03CEC3;
    width: 12%;
    margin: 0px auto 2.1em;
}
.container .form .inputs {
    text-align: center;
}
.container .form #username {
    width: 90%;
    height: 3.8em;
    border-radius: 3px;
    padding: 5px;
    margin-bottom: 25px;
    border: 2px solid #efefef;
    color: #a4a4a4;
    font-size: 13px;
}
.container .form #password {
    width: 90%;
    height: 3.8em;
    border-radius: 3px;
    padding: 5px;
    margin: auto;
    margin-bottom: 25px;
    border: 2px solid #efefef;
    color: #a4a4a4;
    font-size: 13px;
}
.container .form button {
    width: 90%;
    height: 3.8em;
    background-color: #03CEC3;
    font-size: 13px;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    margin-bottom: 25px;
}
.container .form .account {
    text-align: center;
    margin-bottom: 3em;
    font-size: 15px;
}
.container .form .account a {
    font-size: 12px;
    color: #03CEC3;
    cursor: pointer;
    text-decoration: none; 
}
.container .form .line2 {
    border-top: 2px solid #efefef;
    width: 100%;
    margin-bottom: 2.5em;
}
.container .form .form-footer p {
    text-align: center;
    font-size: 11px;
    color: #a4a4a4;
   
}
.container .form .form-footer p a {
    color: #03CEC3;
    text-decoration: none;
    line-height: 1;
}
.container .img {
    width: 50%;
    height: 100%;
}
.container .img img {
    width: 100%;
    height: 100%;
}

/* RESPONSIVENESS */
@media screen and (min-width:300px) and (max-width: 768px) {
    .container{
        flex-direction: column;
        width: 90%;
    }
    .container .form {
    width: 100%;
    padding: 1em;
    margin: .5em auto;
}
.container .img {
    width: 100%;
}
}
@media screen and (min-width:769px) and (max-width: 1024px) {
    .container{
        /* flex-direction: column; */
        width: 80%;
    }
    .container .form {
    width: 100%;
    padding: 2em;
}
.container .img {
    width: 100%;
}
}